.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.text-large {
  font-size: $fontSizeLarge;
}

.text-huge {
  font-size: $fontSizeHuge;
}
