
$white: #fff;
$black: #000;
$pink: #ffa6a6;
$pinkTranslucent: rgba(255, 166, 166, 0.5);
$darkPink: #885353;
$darkPinkTranslucent: rgba(128, 83, 83, 0.5);

$indexLoading: 100;
$indexHUD: 50;
$indexNav: 75;

$transition: 1s;
$transitionFast: 0.5s;

$space: 8px;

$fontSizeNormal: 14px;
$fontSizeLarge: 28px;
$fontSizeHuge: 56px;
