.hud {
  z-index: $indexHUD;
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .hud__inner {
    width: 40vh;
    height: 40vh;
    border-radius: 40vh;
    display: flex;
    flex-wrap: wrap;
    transition: $transition;
    border: 2px solid $pink;
    transform: rotate(45deg);

    .hud__inner__grid {
      @extend .noselect;
      width: 50%;
      height: 50%;
      transition: $transition;
      padding: 0;

      &.filled {
        pointer-events: all;
        cursor: pointer;
        color: $pink;
        outline: 1px solid $pink;
        border: 1px solid $pink;

        &:hover {
          background-color: $pinkTranslucent;

          .hud__inner__grid__inner {
            opacity: 1;
          }
        }

        &.active {
          background-color: $pinkTranslucent;
        }
      }

      .hud__inner__grid__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: $transitionFast;

        .arrow {
          transform: rotate(-45deg);
        }
      }
    }

    &.active-right {
      transform: rotate(90deg);
    }

    &.active-left {
      transform: rotate(0deg);
    }

    &.hidden {
      opacity: 0;
      transform: scale(1.5, 1.5);

      .hud__inner__grid {
        &.transform-right, &.transform-left {
          pointer-events: none;
        }

        &.transform-right {
          transform: translate(200px, 0);
        }

        &.transform-left {
          transform: translate(-200px, 0);
        }
      }
    }
  }
}

.hud-menu {
  @extend .noselect;
  position: fixed;
  width: 50vh;
  height: 50vh;
  top: 50%;
  left: 50%;
  margin-top: -25vh;
  margin-left: -25vh;
  pointer-events: none;
  z-index: $indexHUD;
  opacity: 0;
  border: 2px solid $pink;
  padding: $space * 2;
  color: $pink;
  transition: $transition;
  transform: scale(0, 0);
  background: $whiteTranslucent;

  &.active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1, 1);
  }

  .menu-close {
    @extend .noselect;
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    padding-bottom: $space * 2;
    transition: $transitionFast;
    color: $darkPink;

    &:hover {
      color: $pink;
    }
  }
}

$hudButtonSize: 20vh;
$hudButtonActiveSize: 80px;

.hud__button {
  @extend .noselect;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -$hudButtonSize / 2;
  margin-left: -$hudButtonSize / 2;
  width: $hudButtonSize;
  height: $hudButtonSize;
  border-radius: $hudButtonSize;
  border: 2px solid $pink;
  transition: $transition;
  z-index: $indexHUD + 1;
  pointer-events: all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    top: 0;
    margin-top: $space * 2;
    margin-left: -$hudButtonActiveSize / 2;
    width: $hudButtonActiveSize;
    height: $hudButtonActiveSize;
    border-radius: $hudButtonActiveSize;
  }

  &.hidden {
    opacity: 0;
    transform: scale(0, 0);
  }

  &:hover {
    background-color: $pinkTranslucent;

    .hud__button__inner {
      opacity: 1;
    }
  }

  .hud__button__inner {
    opacity: 0;
    transition: $transitionFast;
    color: $pink;
  }
}
