
.nav {
  @extend .noselect;
  z-index: $indexNav;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  color: $pink;
  display: flex;

  .nav__grid {
    width: 50%;
    display: flex;
    padding-left: $space;
    padding-right: $space;

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    .nav-item {
      cursor: pointer;
      padding: $space * 2;
      transition: $transitionFast;

      &:hover {
        color: $darkPink;
      }
    }
  }
}
